div,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.detailsContainer {
  padding-top: 7.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.detailsUl {
  columns: 2;
  width: 80vw;
  text-align: center;
  color: rgb(33, 37, 41);
}

.detailsUl li {
  text-align: start;
  font-size: 3.8vw;
  padding: 0.2rem;
}

.detailsUl li a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.detailsUl li a:hover {
  color: rgb(20, 128, 251);
}

@media screen and (min-width: 700px) {
  .detailsContainer {
    padding-top: 5.5rem;
  }

  .detailsUl {
    width: 60vw;
  }

  .detailsUl li {
    font-size: 1.1rem;
  }
}
