div,
p,
figure,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.infoContainer div {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.infoPhrase {
  width: 50vw;
  line-height: 1.5rem;
  color: rgb(33, 37, 41);
}

.infoFigure {
  width: 50vw;
}

.infoImg {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .infoPhrase {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .infoFigure {
    width: 25vw;
  }
}
