div,
h2,
p,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85vw;
  background-color: rgb(0, 1, 60);
}

.cardProduct {
  width: 38vw;
  background-color: rgb(255, 255, 255);
  margin: 1vw;
  border-radius: 0.3rem;
}

.titleProduct {
  font-size: 5.5vw;
  padding: 0.4rem;
  color: rgb(20, 128, 251);
  border-bottom: 0.3rem double;
}

.categoryProduct {
  font-size: 0.7rem;
  padding: 0.2rem;
  color: rgb(33, 37, 41);
}

.priceProduct {
  padding: 0.2rem;
  color: rgb(33, 37, 41);
}

.divAddBtn {
  display: flex;
  justify-content: flex-end;
}

.addBtn {
  margin: 0.2rem;
  padding: 0.3rem;
  background-color: rgb(0, 1, 60);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.addBtn:hover {
  background-color: rgb(20, 128, 251);
}

@media screen and (min-width: 700px) {
  .containerProducts {
    width: 60vw;
  }

  .cardProduct {
    width: 27vw;
  }

  .titleProduct {
    font-size: 1.8em;
  }

  .categoryProduct {
    font-size: 0.9rem;
  }

  .priceProduct {
    font-size: 1.4rem;
  }

  .addBtn {
    font-size: 1.2rem;
  }
}

.backBtn {
  width: 100%;
  margin: 1rem 12rem;
  padding: 0.4rem;
  background-color: rgb(109, 12, 145);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.backBtn:hover {
  filter: brightness(1.2);
}

@media screen and (min-width: 700px) {
  .cardProduct {
    width: 18vw;
  }

  .backBtn {
    margin: 1rem 16rem;
  }
}
