div,
h2,
figure,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preparationContainer {
  position: absolute;
  top: 13rem;
  background: rgb(109 12 145 / 88%);
  height: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.preparationTitle {
  text-align: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.preparationContainer figure {
  transform: rotate(-90deg);
}

.preparationContainer figure img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .preparationContainer figure {
    transform: none;
    padding: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .preparationContainer {
    width: 100vw;
    height: 60rem;
  }

  .preparationContainer figure {
    width: 60vw;
  }
}
